body{
  margin: 5%;
  padding: 0%;
  box-sizing: border-box;
  background-color: darkcyan;
}
.conatiner{
  border: 1px solid black;
  width: 300px;
  background-color: white;
  height: 470px;
  border-radius: 20px;
 overflow-y:auto;
 overflow-x: hidden;
  position: relative;
  left: 30%;
  box-shadow: 5px 5px 1px;
}
.innerconatiner{
  min-width: fit-content;
  min-height: fit-content;
  border-bottom: 1px solid black;
  background-color: white;
}

.footer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  position: fixed;
  top: 80%;
  left: 32%;
  gap: 1rem;
  text-align: center;
  /* border-radius: 0%; */
  right: 47%;
  background-color: white;
  /* border: 1px solid black; */
}
.profile{
     width: 60px;
     height: 60px;
     border-radius: 100%;
}
.proname{
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
}

.img{
  width: 300px;
  height: 300px;
}

.header{
  display: grid;
  grid-template-columns:auto auto auto auto;
  gap: 3.5rem;
  margin: 0%;
  padding: 0%;
  width: fit-content;
  height: 15px;
 background-color:white;
 border: none;
  border-bottom: 1px solid black; 
  position: fixed;
  padding: 8px;
}

.inst{
  font-style:italic;
 
}

.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}